//------------------------------------------------------------------------------
//- Not found error
//-
//- This is the default not found error page. Update and style as desired.
//------------------------------------------------------------------------------


extends ./layout.jade

block content
  h1 404:Not found