//------------------------------------------------------------------------------
//- Internal server error
//-
//- This is the default server error page. Update and style as desired.
//------------------------------------------------------------------------------


extends ./layout.jade

block content
  h1 500:Server error