//------------------------------------------------------------------------------
//- Client side template example
//-
//- It is the convention that client side templates will be prefixed with an
//- underscore. This will be compiled into `jst.js`, where the client side
//- templates are intended to be held. It is pulled into the default home page
//- within `assets/js/app.coffee`, using a very simple item view.
//------------------------------------------------------------------------------

include mixins

h2 A client side template
p
  ul
    li 'assets/js/app.coffee'
    li 'views/_example.jade'