doctype html
html
  head
    title Sails Application

    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END

  body
    // TEMPLATES
    script(type="text/javascript", src="/jst.js")
    // TEMPLATES END

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery.js")
    script(src="/js/dependencies/lodash.js")
    script(src="/js/dependencies/backbone.js")
    script(src="/js/dependencies/backbone.babysitter.js")
    script(src="/js/dependencies/backbone.layoutmanager.js")
    script(src="/js/dependencies/backbone.marionette.js")
    script(src="/js/dependencies/backbone.sails.js")
    script(src="/js/dependencies/backbone.wreqr.js")
    script(src="/js/dependencies/json2.js")
    script(src="/js/config/marionette.js")
    script(src="/js/app.js")
    // SCRIPTS END

    block content