//------------------------------------------------------------------------------
//- The main layout
//-
//- This template is intended to be the main layout for server side views. It
//- will be updated with sails-linker as necessary, pulling in the relevant
//- javascript and css files.
//-
//- It is designed to be extended from, with the page content going under the
//- `content` block.
//------------------------------------------------------------------------------


include mixins

doctype html
html
  head
    title Sails Application

    //- STYLES
    link(rel="stylesheet", href="/styles/icons.css")
    link(rel="stylesheet", href="/styles/importer.css")
    //- STYLES END

  body
    //- ICONS
    include ../.tmp/icons/svg/icons.svg

    //- TEMPLATES
    script(type="text/javascript", src="/jst.js")
    //- TEMPLATES END

    //- SCRIPTS
    script(src="/js/dependencies/dist/sails.io.js")
    script(src="/js/dependencies/dist/jquery.js")
    script(src="/js/dependencies/dist/lodash.compat.js")
    script(src="/js/dependencies/json2.js")
    script(src="/js/dependencies/jade.js")
    script(src="/js/dependencies/backbone.js")
    script(src="/js/dependencies/lib/core/backbone.marionette.js")
    script(src="/js/dependencies/lib/backbone.babysitter.js")
    script(src="/js/dependencies/lib/backbone.wreqr.js")
    script(src="/js/dependencies/backbone.sails.js")
    script(src="/js/config/marionette.js")
    script(src="/js/app.js")
    script(src="/js/dependencies/underscore.js")
    //- SCRIPTS END

    //- PAGE CONTENT
    block content