doctype html
html
  head
    title Sails Application
    // TEST STYLES
    link(rel="stylesheet", href="/tests/jasmine/jasmine.css")
    // TEST STYLES END
  body
    // TEMPLATES
    script(type="text/javascript", src="/jst.js")
    // TEMPLATES END
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery.js")
    script(src="/js/dependencies/lodash.js")
    script(src="/js/dependencies/backbone.js")
    script(src="/js/dependencies/backbone.babysitter.js")
    script(src="/js/dependencies/backbone.layoutmanager.js")
    script(src="/js/dependencies/backbone.marionette.js")
    script(src="/js/dependencies/backbone.sails.js")
    script(src="/js/dependencies/backbone.wreqr.js")
    script(src="/js/dependencies/json2.js")
    script(src="/js/config/marionette.js")
    script(src="/js/app.js")
    // SCRIPTS END
    // TESTS
    script(type="text/javascript", src="/tests/jasmine/jasmine.js")
    script(type="text/javascript", src="/tests/jasmine/jasmine-html.js")
    script(type="text/javascript", src="/tests/jasmine/console.js")
    script(type="text/javascript", src="/tests/jasmine/boot.js")
    script(type="text/javascript", src="/tests/example.js")
    // TESTS END