//------------------------------------------------------------------------------
//- Jasmine Tests Template
//-
//- This is the template used for jasmine tests. By default, navigating to
//- `localhost:1337/tests` will load return this page.
//------------------------------------------------------------------------------


doctype html
html
  head
    title Sails Application
    //- TEST STYLES
    link(rel="stylesheet", href="/tests/jasmine/jasmine.css")
    //- TEST STYLES END
  body
    //- TEMPLATES
    script(type="text/javascript", src="/jst.js")
    //- TEMPLATES END
    //- SCRIPTS
    script(src="/js/dependencies/dist/sails.io.js")
    script(src="/js/dependencies/dist/jquery.js")
    script(src="/js/dependencies/dist/lodash.compat.js")
    script(src="/js/dependencies/json2.js")
    script(src="/js/dependencies/jade.js")
    script(src="/js/dependencies/backbone.js")
    script(src="/js/dependencies/lib/core/backbone.marionette.js")
    script(src="/js/dependencies/lib/backbone.babysitter.js")
    script(src="/js/dependencies/lib/backbone.wreqr.js")
    script(src="/js/dependencies/backbone.sails.js")
    script(src="/js/config/marionette.js")
    script(src="/js/app.js")
    script(src="/js/dependencies/underscore.js")
    //- SCRIPTS END
    //- TESTS
    script(type="text/javascript", src="/tests/jasmine/jasmine.js")
    script(type="text/javascript", src="/tests/jasmine/jasmine-html.js")
    script(type="text/javascript", src="/tests/jasmine/console.js")
    script(type="text/javascript", src="/tests/jasmine/boot.js")
    script(type="text/javascript", src="/tests/example.js")
    //- TESTS END